version: "3.9"

services:
  backend:
    container_name: flight
    restart: always
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c " python manage.py collectstatic  --no-input --clear && python manage.py migrate && gunicorn --reload --access-logfile - --workers 3 --bind 0.0.0.0:8000 core.wsgi:application"
